<div id="{{mojit_view_id}}" class="mojit">
  <div class="page-body  yui3-g-r">
    <div class="map-link-container">
      <small><a href="https://mapsengine.google.com/map/edit?mid=z4mc9Gs85Qww.kWolK6e4k7Zg">Locations map</a></small>
    </div>
    <div class="query-container">
      <input type="search" incremental="true" results="20" autosave="bfs-samples"  placeholder="attr op 'value'" class="query-input" title = "Hit Enter to run the query. Everything that is allowed in a WHERE clause of an SQL query can go here, e.g., bird ~* 'gull' AND age = 'juvenile'"/>
    </div>
    <div class="table-view-container">
      {{{samples}}}
      {{{sampleDetails}}}
    </div>
  </div>
</div>
