<div id="{{mojit_view_id}}" class="mojit">
{{#if id}}
  <div class="mod" id="sample-details">
{{else}}
  <div class="mod collapse" id="sample-details">
{{/if}}
    <h3>
{{#if id}}
      <strong>Sample details, {{id}}</strong>
{{else}}
      <strong>Sample details</strong>
{{/if}}
      <a title="refresh module" class="refresh" href="#">⟲</a>
      <a title="minimize module" class="min"
        href="#">-</a>
    </h3>
    <div class="inner" id="sample-details-inner">
{{#if id}}
      {{{location}}}
      {{{diagnostics}}}
{{else}}
      <div id="sample-details-message">
        Click on a sample in the table to see its details.
      </div>
{{/if}}
    </div>
  </div>
</div>
