<div id="{{mojit_view_id}}" class="mojit">
{{#if auth}}
  <div class="mod" id="diagnostics">
{{else}}
  <div class="mod read-only" id="diagnostics">
{{/if}}
    <h3>
      <strong>Diagnostics</strong>
      <a title="refresh module" class="refresh" href="#">⟲</a>
      <a title="minimize module" class="min" href="#">-</a>
    </h3>

    <div class="inner" id="diagnostics-inner">
      <table id="diagnostics-table" class="single-row-table">
        <tr>
{{#if sample}}
  {{#unless auth}}
          <td style="vertical-align: top">
            <table>
              <tr>
                <td style="vertical-align: top">
                  <b>PCR Pool</b> {{pool}}<br>
                  {{date}}
                </td>
              </tr>
              <tr>
                <td style="vertical-align: top">
                  <b>Received:</b> {{rec_date}}<br>
                  <b>TaqMan:</b>{{date}}
                </td>
              </tr>
            </table>
          </td>
          <td style="vertical-align: top; padding-left: 2em;">
            <table class="read-only-table">
              <tr>
                <td> ma_status </td>
                <td> ma_ct </td>
                <td> h5_status </td>
                <td> h5_ct </td>
                <td> h5_pt </td>
                <td> h7_status </td>
                <td> h7_ct </td>
                <td> h7_pt </td>
                <td> h9_status </td>
                <td> h9_ct </td>
                <td> name </td>
              </tr>
              <tr>
                <td> {{ma_status}} </td>
                <td> {{ma_ct}} </td>
                <td> {{h5_status}} </td>
                <td> {{h5_ct}} </td>
                <td> {{h5_pt}} </td>
                <td> {{h7_status}} </td>
                <td> {{h7_ct}} </td>
                <td> {{h7_pt}} </td>
                <td> {{h9_status}} </td>
                <td> {{h9_ct}} </td>
                <td> {{name}} </td>
              </tr>
            </table>
          </td>
  {{/unless}}
{{else}}
          <td id="diagnostics-na" class="diagnostics-na">
            no data
          </td>
{{/if}}
        </tr>
      </table>
    </div>
  </div>
</div>
