<div id="{{mojit_view_id}}" class="mojit">
  <div class="mod" id="diagnostics">
    <h3>
      <strong>Diagnostics for <span id="diagnostics-sample-id"></span></strong>
      <a title="refresh module" class="refresh" href="#">⟲</a>
      <a title="minimize module" class="min"
        href="#">-</a>
    </h3>
    <div class="inner" id="diagnostics-inner">
      <div class="yui3-u-3-4">
        {{{location}}}
      </div>
      <div class="yui3-u-3-4">
        {{{data}}}
      </div>
    </div>
  </div>
</div>
