body {
  background-color: #eee;
  padding-left: 8px;
}

h2 {
  text-shadow: 2px 2px 3px #ccc;
}

div.mod {
  background-color: #F9F9FC;
  border: 1px solid #D4D8EB;
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0,0,0,0.15);
  margin: 15px 8px;
  xpadding-bottom: 1px;
}

div.mod h3 {
  position: relative;
  border-radius: 4px 4px 0 0;
  font-weight: bold;
  font-size: 1.1em;
  margin: 0;
  padding: 4px 7px 5px;
  background: -o-linear-gradient(bottom, #0069d3 5%, #007fff 100%);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #0069d3), color-stop(1, #007fff) );
  background: -moz-linear-gradient( center top, #0069d3 5%, #007fff 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0069d3", endColorstr="#007fff");
  background: -o-linear-gradient(top,#0069d3,007fff);
  background-color: #0069d3;
  color: #f8f8ff;
}

div.mod h3 strong {
  font-weight: bold;
  padding-left: 5px;
  background-repeat: no-repeat;
  background-position: 2px;
}

/** for each mojit, add a bgimage for logo **/
div.mod h3 a.min,
div.mod h3 a.refresh {
  background-color: #F9F9FC;
  border:1px solid #E5E6F1;
  color: #5E6BA4;
  text-align: center;
  display: block;
  height: 19px;
  width: 17px;
  text-decoration: none;
  font-weight: bold;
  right: 4px;
  top: 1px;
  position: absolute;
  /* font-size: 80%; */
  margin: 2px;
  padding: 0;
}

div.mod h3 a.min {
  right: 0px;
}

div.minned h3 a.min {
  right: 0px;
}

div.mod h3 a.refresh {
  right: 25px;
}

div.mod div.inner {
  overflow: hidden;
  xpadding-right: 8px;
}

/** collapse module **/
div.mod.collapse div.inner {
  display:none;
}

/* Annotations */

.annotated {
  background-image: url(images/annotated.png);
  background-position: right bottom;
  background-repeat: no-repeat;
}

.annotation-meta {
  color: grey;
  margin-bottom: 0.2em;
}

.annotation-author {
  font-weight: bold;
}

.yui3-overlay-content {
  background-color: #fff8dc;
  border: 1px solid #9EA8C6;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.25);
}

.yui3-overlay-content .yui3-widget-bd {
  padding: 0.4em 0.6em 0.5em;
}

.yui3-overlay-content .yui3-widget-bd ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.yui3-overlay-content .yui3-widget-bd li {
  padding: 7px;
}
.yui3-overlay-content .yui3-widget-bd textarea {
  min-width: 300px;
}

.page-footer {
  clear: left;
}

.single-row-table {
  border-collapse: separate;
  border-spacing: 0;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.single-row-table tr {
  height: 24px;
}

/* gallery-datatable-editable, gallery-datatable-celleditor-inline */

.yui3-skin-sam .yui3-datatable td.yui3-datatable-sel-highlighted,
.yui3-skin-sam .yui3-datatable td.yui3-datatable-sorted.yui3-datatable-sel-highlighted,
.yui3-skin-sam .yui3-datatable tr.yui3-datatable-sel-highlighted td,
.yui3-skin-sam .yui3-datatable tr.yui3-datatable-sel-highlighted td.yui3-datatable-sorted {
  background-color: #f0db5c;
}

.yui3-skin-sam .yui3-datatable td.yui3-datatable-sel-selected,
.yui3-skin-sam .yui3-datatable td.yui3-datatable-sorted.yui3-datatable-sel-selected
,.yui3-skin-sam .yui3-datatable tr.yui3-datatable-sel-selected td,
.yui3-skin-sam .yui3-datatable tr.yui3-datatable-sel-selected td.yui3-datatable-sorted {
  background-color: #90ee90;
}

#yui3-css-stamp.skin-sam-gallery-datatable-selection {
  display: none;
}

.yui3-datatable-col-editable {
  cursor: pointer;
}

.yui3-datatable-col-editable {
  cursor: pointer;
}

#yui3-css-stamp.skin-sam-gallery-datatable-editable {
  display: none;
}

.yui3-datatable-inline-input:focus {
  outline: 0;
}

.yui3-datatable-inline-input {
  border: 1px solid #cbcbcb;
  background-color: #fffebb;
  width: 100%;
  /* height: 100%; */
  min-height: 18px;
  margin: 0;
  padding-left: 9px;
  z-index: 999;
}

#yui3-css-stamp.skin-sam-gallery-datatable-celleditor-inline {
    display: none;
}

.yui3-aclist {
  width: 140px;
}

.bird-list {
  width: 340px;
}

.location-list {
  width: 240px;
}



/* paginator */
.yui3-pagview-link-page {
    border: 1px solid #b0c4de;
    color: blue;
    padding: 5px;
    text-decoration: none;
}

.yui3-pagview-link-page a {
    border: 1px solid #324759;
    color: #324759;
    height: 35px;
    margin: 5px 3px;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    width: 35px;
}

.yui3-pagview-bar {
    background-image: -webkit-linear-gradient(transparent 40%,rgba(0,0,0,0.21));
    background-image: -moz-linear-gradient(top,transparent 40%,rgba(0,0,0,0.21));
    background-image: -ms-linear-gradient(transparent 40%,rgba(0,0,0,0.21));
    background-image: -o-linear-gradient(transparent 40%,rgba(0,0,0,0.21));
    background-image: linear-gradient(transparent 40%,rgba(0,0,0,0.21));
    border: 1px solid #cbcbcb;
    vertical-align: middle;
}

.yui3-pagview-link-page-list {
    margin: 0 2px;
    width: 10px;
}

.yui3-pagview-container {
    outline: 0 none;
}

.yui3-pagview-link-page-active {
    background-color: #90ee90;
    color: black;
}

.yui3-pagview-disabled {
    cursor: default;
    opacity: .2;
}

.yui3-pagview-hide {
    display: none;
}

.yui3-pagview-input-page {
    height: 13px;
    text-align: center;
    width: 25px;
}

#yui3-css-stamp.skin-sam-gallery-paginator-view {
    display: none;
}


/* ------------------ datatable read-only ------------------------ */
.yui3-skin-sam .read-only .yui3-datatable,
.yui3-skin-sam .read-only .yui3-datatable-header {
  color:#8E8E8E;
}

div.read-only h3 {
  color: #5E6BA4;
  background: -o-linear-gradient(bottom, #E5E6F1 5%, #f8f8ff 100%);
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #E5E6F1), color-stop(1, #f8f8ff) );
  background: -moz-linear-gradient( center top, #E5E6F1 5%, #f8f8ff 100% );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#E5E6F1", endColorstr="#f8f8ff");
  background: -o-linear-gradient(top,#E5E6F1,f8f8ff);
  background-color: #E5E6F1;
}
