# Move this file to /etc/nginx/sites-available/bfs
#
# sudo ln -s /etc/nginx/sites-available/bfs /etc/nginx/sites-enabled
#

# Choose cluster number to complement existing clusters, here and
# in proxy_pass below
upstream app_cluster_4 {
  server 127.0.0.1:3300;
}

server {
  listen [::]:80;
  server_name bfs.observercentral.net;
  access_log /var/log/nginx/access-bfs.log;
  error_log  /var/log/nginx/error-bfs.log error;

  location / {
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $http_host;
    proxy_set_header X-NginX-Proxy true;

    proxy_pass http://app_cluster_4/;
    proxy_redirect off;
  }
}
